@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>Поиск частых подграфов в XML-документах</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    <div class="container"> 
        <form id="searchParameters">
            <fieldset>
                <legend>Параметры поиска</legend>
                <div class="form-group">
                    <label for="minSize">Минимальное число узлов:</label>
                    <input type="number" class="form-control" name="minSize" id="minSize" value="2" required>
                </div>
                <div class="form-group">
                    <label for="maxSize">Максимальное число узлов:</label>
                    <input type="number" class="form-control" name="maxSize" id="maxSize" value="10" required>
                </div>
                <div class="form-group">
                    <label for="support">Минимальная поддержка:</label>
                    <input type="number" class="form-control" name="support" id="support" value="0.2" step="0.01" required>
                </div>
                <div class="form-group">
                    <input type="file" name="upload" class="btn" id="uploadFile" required accept="text/xml" /><br />
                </div>
                <button id="searchBtn" type="submit" class="btn">Поиск</button>
            </fieldset>
        </form>
        <br /> 
        <div class="panel panel-default" style="display:none">
            <div class="panel-heading">Документ</div>
            <div class="panel-body" id="fileOutput"></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Результаты поиска</div>
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div> 
            <p class="panel-body" id="result"></p>
        </div>              
    </div>

    <script>
    @*$('#uploadFile').on('click', function (e) {
        e.preventDefault();
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < 1; x++) {
                    var file = files[x];
                    data.append("file" + x, file);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "Mining")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        document.getElementById("fileOutput").innerText = result.textContent;
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });*@

        $('#searchParameters').submit(function (e) {
            document.getElementById('result').innerText = "";
            var form = document.getElementById('searchParameters');
            var formData = new FormData(form);
            $.ajax({
                type: "POST",
                url: '@Url.Action("Search", "Mining")',
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    if (result.code != -1) {
                        var output = "";
                        $.each(result.text, function () {
                            output += this + '<br>';
                        });
                        $('#result').html(output);
                    }
                    else
                    {
                        alert(result.text);
                    }
                }
            });
            e.preventDefault();
        });

        window.onscroll = function () {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
        };
    </script>
</body>
</html>
