@using FrequentSubtreeMining.WebUI.ViewModels;

@model ResultViewModel

<div>
    <h1>Результаты поиска</h1>
        <textarea id="resultText">
        @foreach (string str in Model.Results)
        {
            @(str + "\n");
        }
        </textarea>
</div>

